<h2>At Fluxus Our mission is simple:</h2>
<h4>We provide a public forum for users to post action based ideas allowing users to participate in a myriad of preformances. Our dream like our fluxus predecessors is to encourage all citizens of the web to participate in the dance of open source ideas. </h4>