<section class="profile">
  
  {{#if user.fluxus}}
  <h2>{{user.local.email}}</h2>
    <div class="fluxus">
      {{#each user.fluxus}}
         {{> 'flux'}}
      {{/each}}
    </div>
  {{else}}
    <h4><em>Welcome {{user.local.email}} to response archive no responses yet.</em></h4>
  {{/if}}
</section>