

body{
  background-color: rgb(57, 57, 224);
  background-image: url("img/back2.jpg"); 
  cursor: url("img/cursor-1.png"), auto;
}


h2{
  color: white;
  font-size: 45px;
}
form{
  padding: 30px;
  color: white;
  padding-bottom: 10px;
 }
 h4{
  color: white;
  font-size: 40px
 }
 
form{
  padding: 30px;
  color: white;
  padding-bottom: 10px;
  cursor: url("img/cursorA-2.png"), auto;
 }
 h4{
  color: white;
  font-size: 40px
 }
 a{
  color: white;
  cursor: url("img/cursorA-2.png"), auto;
}
a:hover{
  cursor: url("img/cursorA-2.png"), auto;
  opacity: .6;
}
input{
  border-bottom: 2px dotted;
  cursor: url("img/cursorA-2.png"), auto;
}
input:hover{
  cursor: url("img/cursorA-2.png"), auto; opacity: .9;
  opacity: .6;
}


.rows{
  display: flex;
  flex-direction: row;
}
.container{
  animation: fadein 10s;
 }
 

.center{
 position: relative;
 -webkit-animation-name: rotate; 
 -webkit-animation-duration: 4s; 
 animation-name: rotate;
 animation-duration: 7s;
 border-top: 2px dotted white;
 border-left: 2px dotted white;
 border-right: 2px white;
 display: block;
 margin-left: 400px;
 margin-right: 400px;
 padding-bottom: 200px;
 padding-top: 200px;
}

.foot{
 
 display: flex;
 justify-content: space-evenly;
 flex-direction: row;
 border-top: 2px dotted white;
 padding: 50px;
 position: fixed;
 bottom: 0;
 width: 100%;
 font-size: 20px;
}
.line{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  color: white;
  font-size: 20px;
 }

.lard{

  padding: 30px;
  color: white;
  padding-bottom: 10px;
  font-size: 30px;
 }
 .lard a{
   color: white;
 }
.aboutContainer{
  margin: 200px;
}
#about1{
  font-size: 40px;
  color: white;
}
#bi h1{
  color: blue;
  text-align: center;
  margin-top: 25px;
  text-align: center;
  position: relative;
  -webkit-animation-name: slide; 
  -webkit-animation-duration: 4s; 
  animation-name: slide;
  animation-duration: 4s;
  font-size: 85px;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 85px;
 }
 
#log{

 text-align: center;
 color: white;
 font-size: 20px;
 animation: log;
 animation-duration: 7s;
}
#sign{

 text-align: center;
 color: white;
 font-size: 25px;
 animation: sign;
 animation-duration: 7s;
}
#cols{
  display: flex;
  justify-content: space-evenly;

}
#cols1{
  display: flex;
  justify-content: space-evenly;

}
#mission{
  font-size: 20px;
  color: white;
}
#meaning{
  text-align: center;
  color: white;
  font-size: 25px;
  animation: log;
  animation-duration: 7s;
}
#developers{
  text-align: center;
  color: white;
  font-size: 35px;
  animation: sign;
  animation-duration: 7s;

}
#prompter{
  text-align: center;
  animation: slide;
  animation-duration: 4s;
}
#splotch{
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: fadein; 
  animation-duration: 5s;
}
#about{
text-align: center;
 color: white;
 font-size: 35px;
 animation: about;
 animation-duration: 7s;
}

#better{
 padding: 100px;
}

#signup-btn{
  background:none; 
  border: 1px dotted white;
}
#login-btn{
  background:none; 
  border: 1px dotted white;
}

@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 2; }
}

@keyframes rotate {
 0%   {opacity: 0; left:0px; top:0px;}
 25% {border-top: 2px dotted white; opacity: 0; left:200px; top:0px;}
 25%  {border-right:2px dotted white; opacity: .8; left:200px; top:0px;}
 25%  {border-right:2px dotted white; opacity: .0; left:200px; top:0px;}
 25%  {border-bottom:2px dotted white; opacity: .8; left:200px; top:0px;}
 25%  {border-bottom:2px dotted white; opacity: .0; left:200px; top:0px;}
 25%  {border-left:2px dotted white; opacity: .8; left:200px; top:0px;}
 50%  {opacity: .5;left:200px; top:150px;}
 75% {opacity: 1;left:0px; top:0px;} 
}

@keyframes slide {
 0%   { font-size: 20px; left:0px; top:0px;}
 25%  {font-size: 30px;  left:200px; top:0px;}
 50%  {font-size: 40px; left:200px; top:200px;}
 75%  {font-size: 50px;  left:0px; top:200px;}
 75% {font-size: 60px;  left:0px; top:0px;}
 75% {font-size: 75px;  left:0px; top:0px;}
 100% {font-size: 85px;  left:0px; top:0px;}
}
@keyframes log{
  0%   { font-size: 20px; left:0px; top:0px;}
  25%  {font-size: 25px;  left:200px; top:0px;}

}
@keyframes sign{
  0%   { font-size: 20px; left:0px; top:0px;}
  25%  {font-size: 30px;  left:200px; top:0px;}
  
}
@keyframes about{
  0%   { font-size: 20px; left:0px; top:0px;}
  25%  {font-size: 35px;  left:200px; top:0px;}
  
}



