<h2>History</h2>
<h4> Fluxus was born in the United states in the 1960s the priciple idea behind fluxus was to embrace the process of creation and the fluidity of ideas, over a finished and saleable product. These artists hoped that society would embrace art as an everyday phenomina not something to be pedestalized in a gallery. 
</h4>
