<h2>Hey I am Lawrence</h2>
<h4> I am a Full-stack web developer who crosses the gap of arts, ethics, and activism to create a new world view through technology. Inspired to push my natural talents and hard earned skills to create spaces on the web where people can find inspiration, community, and empathy! I can't wait to hear what you think about my Fluxus site.</h4>