<section class="form-container">
  <h4>Delete A Flux!</h4>
  <form  method="post" action="/delete/end" class="flux-form">
    <p class="input-field">
      <textarea name="find[name]" cols="30" rows="10" placeholder="Find your Flux by Name"></textarea>
    </p>
    <p class="input-field">
      <input id="login-btn" type="submit" value="Delete Flux" class="btn waves-effect waves-light">
    </p>
  </form>
</section>