<div id="aboutContainer">
    <h1 id="about1" class="fade">Welcome to Fluxus</h1>
    <ul>
        <li><a id="mission" href="/mission">Mission</a></li>
        <li><a id="meaning"  href="/meaning">Meaning</a></li>
        <li><a id="developers"  href="/dev">Developers</li>
    </ul>
</div>
