<section class="form-container">
  <h4>New Response</h4>
  <form action="/flux" method="post" class="flux-form">
    <p class="input-field">
      <textarea name="flux[content]" cols="30" rows="10" placeholder="Message"></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="Flux" class="btn waves-effect waves-light">
    </p>
  </form>
</section>