<section class="form-container">
  <h4>Update A Flux!</h4>
  <form action="/update/new" method="post" class="flux-form">
    <p class="input-field">
      <textarea name="find[name]" cols="30" rows="10" placeholder="Find your Flux by Name"></textarea>
    </p>
     <p class="input-field">
      <textarea name="update[name]" cols="30" rows="10" placeholder=" New Name of Flux"></textarea>
    </p>
    <p class="input-field">
      <textarea name="update[content]" cols="30" rows="10" placeholder=" New Content of Flux"></textarea>
    </p>
    <p class="input-field">
      <input id="login-btn" type="submit" value="Update Flux" class="btn waves-effect waves-light">
    </p>
  </form>
</section>