<section class="form-container">
  <h4>Update your Fluxes!</h4>
  <form action="/add" method="post" class="flux-form">
    <p class="input-field">
      <textarea name="add[name]" cols="30" rows="10" placeholder="Find your Flux by Name"></textarea>
    </p>
      <p class="input-field">
      <textarea name="add[content]" cols="30" rows="10" placeholder=" New Content of Flux"></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="Add Flux" class="btn waves-effect waves-light">
    </p>
  </form>
</section>